*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/settingViewLib
/.settingViewLib
.externalNativeBuild
dbMaster/

*.hprof
*.bak
build/*
*/build/*
.idea/*
gradle.properties
