<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zenglb.framework.goodlife">

    <application
        android:name="debug.GoodLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WhatApp"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:label">

        <activity
            android:name="debug.GoodLifeLauncherActivity"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".handylife.GoodLifeActivity"
            android:label="WhatApp"/>

        <activity android:name=".GoodLifeWebActivity"
            android:launchMode="singleTop" />


    </application>

</manifest>