<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zenglb.framework.modulea">

    <application
        android:name="debug.AModuleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ModuleA"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:label">

        <activity
            android:name=".demo.launch.LaunchActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.login.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".demo.access.RegisterActivity"
            android:theme="@style/Translucent" />

        <activity
            android:name=".demo.status_view.StatusNormalErrorEmptyActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".navigation.MainActivityBottomNavi"
            android:label="@string/title_activity_main_bottom_navi"
            android:launchMode="singleTask" />

        <activity android:name=".demo.animal.SharedElementActivity" />

        <activity android:name=".demo.animal.AnimalMainActivity" />


        <activity android:name=".demo.quick_input_things.QuickInputThingsActivity" />
        <activity android:name=".demo.demo.ConstraintLayoutActivity" />
        <activity android:name=".demo.demo.Rxjava_ZIP_Activity" />

        <activity android:name=".demo.MemoryLeakTest" />
        <activity android:name=".mvp.handylife.AnyLifeActivity" />


    </application>

</manifest>