<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
<!--        <activity-->
<!--            android:name=".ui.navi.alitest.AliActivity"-->
<!--            android:exported="true" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <activity
            android:name=".ui.archi.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/title_activity_demo" />
        <activity
            android:name=".ui.navi.NaviActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".ui.keepalive.KeepAliveSettingActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.common.dozealive.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.common.dozealive.MY_CATEGORY"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.keepalive.H5DozeAliveGuideActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.common.dozealive.ACTION_H5_GUIDE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.common.dozealive.GUIDE"/>
            </intent-filter>
        </activity>


    </application>

</manifest>