<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anylife.module_main">

    <application
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">

        <activity
            android:name=".ModuleMainLauncherActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".business.login.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".business.navigation.MainActivityBottomNavi"
            android:launchMode="singleTask" />


    </application>

</manifest>